*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
bin

# YARD artifacts
.yardoc
_yardoc
doc/

# RubyMine
.idea

#code_swarm
.code_swarm/
activity.log
activity.xml
code_swarm.config
code_swarm_video.sh
frames/
code_swarm.mov
